.navbar {
    border-radius: 0px;
}

#event-list {
    .event {
        cursor: pointer;

        .event-status > i {
            font-size: 60px;
        }
    }
}

.logo-name{font-size:30px;}

.match-image {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}

.match-name {
    text-align: center;
}

.match-skip {
    position: absolute;
    top: 58px;
    right: 5px;
    width: 50px;
}

.match-info {
    text-align: center;
}
