// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import
  "bootstrap-sprockets"
, "bootstrap"
, "app";


.match-timer{padding:7px;font-weight:700;font-size:30px;}

.match-timertwo{padding:14px;font-weight:700;font-size:20px;}

.timeStamper{text-align:center;}

.btn-block{height:60px;}
